a {
  font-size: 30px;
}
  
.instruction {
  font-size: 30px;
}

.center-box {
  border: 6px solid rebeccapurple;
  padding: 50px;
  display: flex;
  margin: 20px 200px;
}

.main {
  display: flex;
  width: 20vw;
}

.options {
  width: 50px;
}

.option {
  display: flex;
  margin: 32px 15px;
  font-size: 30px;
  width: 50px;
}

.box {
  height: 61px;
  width: 100px;
  display: flex;
  align-items: center;
  margin: 5px;
  position: relative;
}
  
input {
  display: none;
}

label {
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}

label::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 3px solid rgb(25, 134, 230);
  border-radius: 50%;
}

label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(43%);
  right: 70%;
  width: 8px;
  height: 8px;
  border: 3px solid rgb(25, 134, 230);
  border-radius: 50%;
  background-color: rgb(25, 134, 230);
  opacity: 0;
}

.box input:checked ~ label::before {
  opacity: 1;
}

/* css for the images */

.container {
  position: relative;
  display: flex;
  height: 15vh;
  width: 40vh;
  margin-right: 10vw;
  margin-top: 90px;
}

.first {
  background-color: rgb(255, 255, 255);
  width: 40px;
  border: solid;
}

.second {
  background-color: yellowgreen;
  width: 40px;
  border: solid;
}

.btn {
  height: 40px;
  width: 100px;
  margin-top: 120px;
  cursor: pointer;
}

.lives {
  margin-left: 200px;
  display: flex;
}

.message {
  font-size: 30px;
  margin: 0px 0px 0px 380px;
  color: red;
}

.heart {
  background-color: red;
  margin-right: 40px;
  height: 20px;
  width: 20px;
  transform: rotate(-45deg);
}

.heart::before, .heart::after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  position: absolute;
}

.heart::before {
  left: 10px;
}

.heart::after {
  top: -10px;
}